@use crate::Page;
@use crate::format_downloads_verbose;
@use crate::GlobalStats;
@use crate::global_stats::format_number;
@use crate::global_stats::url_for_crate_name;
@use crate::global_stats::url_for_rev_deps;
@use crate::global_stats::versions_for_crate_name;
@use crate::templates::base;
@use crate::templates::histogram;
@use crate::Urler;

@(page: &Page, dl_by_week: &[(u64, u64)], stats: &GlobalStats, url: &Urler)

@:base(page, {
    <header id="home">
        <div class="inner-col" role="banner">
            <h1><a href="/">Lib.rs</a> › Stats</h1>
            <p>Rust crates ecosystem statistics.</p>
            <form role="search" id=search method="get" action="/search">
                <input placeholder="name, keywords, description" autocapitalize="off" autocorrect="off" autocomplete="off" tabindex="1" type=search name=q><button type=submit>Search</button>
            </form>
            <nav>
                <ul><li><a href="/">Categories</a></li>
                <li><a href="/new">New and trending</a></li>
                <li class="active">Stats</li>
            </ul></nav>
        </div>
    </header>

    <main id="global-stats">
        <style>
            #global-stats h2 @{ margin-top: 1.5em; @}
            p.legend @{ text-align: center; margin-top: 0; @}
            table.histogram @{ margin: 0.5em auto 2em; width: 100%; @}
            table.histogram td @{ vertical-align: bottom; vertical-align: top; text-align: center; font-size: 0.8em; @}
            table.histogram .bars td @{ vertical-align: bottom; @}
            table.histogram .bars div @{ background: #c60808; color: white; @}
            table.rustc-compat svg @{ display: block @}
            table.rustc-compat th @{ vertical-align: 50%; @}
            table.rustc-compat thead th @{ font-weight:normal; font-size: 0.8em @}
            @@media (prefers-color-scheme: dark) @{
                table.histogram .bars div @{ color: black; @}
            @}
            table.histogram a @{ display: block; text-align: left; max-width: 11em; overflow: hidden; text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
  max-height: 2.3em; line-height: 1.1; margin: 0.4em 0; @}
        </style>

        <div class="inner-col">
        <section>
            <h2>Growth of the crates.io registry</h2>

            <svg viewBox="0 -5 1030 116" width=1040 height=116 style="width:100%; margin: 1em auto 0">
                <title>Download history of all crates since 2015</title>
                @for y in (0..stats.max_downloads_per_week).step_by(stats.dl_grid_line_every as _) {
                    <line x1=0 x2=1000 y1="@(100. - y as f64 / (stats.max_downloads_per_week as f64 / 100.))" y2="@(100. - y as f64 / (stats.max_downloads_per_week as f64 / 100.))"
                        stroke-width=1 stroke-linecap="butt" stroke="#aaaaaa" stroke-opacity=0.3 />
                    @if y > 0 {
                        <text stroke="none" fill="#999999" font-size="11" x="1003" y="@(103. - y as f64 / (stats.max_downloads_per_week as f64 / 100.))">@((y as f64 / 7_000_000.).round())M</text>
                    }
                }
                <path d="M0 100
    @for (i, (weekday, weekend)) in dl_by_week.iter().copied().enumerate() {
    L@(i as f64 / (dl_by_week.len() as f64 / 1000.)) @(100. - (weekday + weekend) as f64 / (stats.max_downloads_per_week as f64 / 100.))
    }
    V100" fill="#fcbc4a" stroke-width="1" stroke="black" />
                @for x in (0..dl_by_week.len() as u32).step_by(52).skip(1) {
                    <line y1=100 y2=105
                    x1="@((x - stats.start_week_offset) as f64 / (dl_by_week.len() as f64 / 1000.))"
                    x2="@((x - stats.start_week_offset) as f64 / (dl_by_week.len() as f64 / 1000.))"
                        stroke-width=1 stroke-linecap="butt" stroke="#aaaaaa" stroke-opacity=0.3 />
                }
                @for x in (0..(dl_by_week.len() as u32 - 26)).step_by(52) {
                    <text stroke="none" fill="#999999" text-anchor=middle font-size="11" y="111"
                    x="@((x + 26_u32.saturating_sub(stats.start_week_offset)) as f64 / (dl_by_week.len() as f64 / 1000.))">@(x / 52 + 2015)</text>
                }
            </svg>
            <p class=legend>Daily downloads since Rust 1.0, 7-day average</p>

<p>Crate downloads are growing at a rate of
@GlobalStats::relative_increase((stats.dl_per_day_this_year.0 + stats.dl_per_day_this_year.1, stats.dl_per_day_last_year.0 + stats.dl_per_day_last_year.1)) per year.</p>

<p>At peak crates.io has served @if let Some((val, unit)) = Some(format_downloads_verbose(stats.max_daily_downloads_rate)) { @val @unit } downloads per <em>day</em>,
    which is more than all downloads in the first <em>@((stats.weeks_to_reach_max_downloads as f32 / (365./12./7.)).floor()) months</em> since the release of Rust 1.0 in May 2015.</p>

<p>Traffic during weekdays is typically @GlobalStats::relative_increase(stats.dl_per_day_this_year) higher than during weekends
    (@if stats.dl_ratio_up() {up} else {down} from @GlobalStats::relative_increase(stats.dl_per_day_last_year) a year before).</p>

            <svg viewBox="0 -5 1030 116" width=1040 height=116 style="width:100%; margin: 1em auto 0">
                <title>@stats.max_total_owners crate owners registered on crates.io</title>
                @for y in (0..stats.max_total_owners).step_by((stats.max_total_owners as usize / 6_000 * 1_000).max(1)) {
                    <line x1=0 x2=1000 y1="@(100. - y as f64 / (stats.max_total_owners as f64 / 100.))" y2="@(100. - y as f64 / (stats.max_total_owners as f64 / 100.))"
                        stroke-width=1 stroke-linecap="butt" stroke="#aaaaaa" stroke-opacity=0.3 />
                    @if y > 0 {
                        <text fill="#999999" font-size="11" x="1003" y="@(103. - y as f64 / (stats.max_total_owners as f64 / 100.))">@((y as f64 / 1_000.).round())K</text>
                    }
                }
                @for (i, num) in stats.total_owners_at_month.iter().copied().enumerate() {
                    <rect
                        x="@((0.1 + i as f64) / (stats.total_owners_at_month.len() as f64 / 1000.))"
                        width="@(0.8 / (stats.total_owners_at_month.len() as f64 / 1000.))"
                        y="@(100. - num as f64 / (stats.max_total_owners as f64 / 100.))"
                        height="@(num as f64 / (stats.max_total_owners as f64 / 100.))"
                        fill="#4aa9fc" stroke="none"
                    />
                }
                @for x in (0..stats.total_owners_at_month.len() as u32).step_by(12).skip(1) {
                    <line y1=100 y2=105
                    x1="@((x - 5) as f64 / (stats.total_owners_at_month.len() as f64 / 1000.))"
                    x2="@((x - 5) as f64 / (stats.total_owners_at_month.len() as f64 / 1000.))"
                        stroke-width=1 stroke-linecap="butt" stroke="#aaaaaa" stroke-opacity=0.3 />
                }
                @for x in (0..(stats.total_owners_at_month.len() as u32 - 5)).step_by(12) {
                    <text stroke="none" fill="#999999" text-anchor=middle font-size="11" y="111"
                    x="@((x + 6 - 5) as f64 / (stats.total_owners_at_month.len() as f64 / 1000.))">@(x / 12 + 2015)</text>
                }
            </svg>
            <p class=legend>Number of users/teams owning a crate on crates.io</p>

<p>There are @format_number(stats.max_total_owners) users or teams that have a crate on crates.io. The number of owners is growing at a rate of
@GlobalStats::relative_increase((stats.max_total_owners as _, stats.total_owners_at_month[stats.total_owners_at_month.len()-12] as _)) per year.</p>

<p>Lib.rs has indexed @stats.total_crate_num crates.</p>

    </section>
    <section>
        <h2>Histograms</h2>
        <section id="num-deps">
            <h3>Number of direct dependencies</h3>
            <p>Number of libraries explicitly used by each crate. Includes dev, build-time and optional dependencies.</p>
            @:histogram(&stats.hs_deps1, 0, url, url_for_crate_name)
            @:histogram(&stats.hs_deps2, 5, url, url_for_crate_name)</section>
        <section>
            <h3>Crate size (KB)</h3>
            <p>Amount of data downloaded as a compressed tarball. Size of code + bundled data files. Individual crate pages show size of uncompressed code.</p>
            @:histogram(&stats.hs_sizes, 5, url, url_for_crate_name)</section>
        <section>
            <h3>Number of releases per crate</h3>
            <p>Number of unique versions of each crate, excluding yanked versions.</p>
            @:histogram(&stats.hs_releases, 5, url, versions_for_crate_name)</section>
        <section id="crate-age">
            <h3>Age</h3>
            <p>Time since crate's first release.</p>
            @:histogram(&stats.hs_age, 5, url, url_for_crate_name)</section>
        <section>
            <h3>How long a crate has been updated for</h3>
            <p>Time between its oldest and newest release.</p>
            @:histogram(&stats.hs_maintenance, 5, url, versions_for_crate_name)</section>
        <section>
            <h3>Time without any updates</h3>
            <p>Time since crate's most recent release. Keep in mind that some crates can be "done" and not need regular updates.</p>
            @:histogram(&stats.hs_languish, 5, url, url_for_crate_name)</section>
        <section id="rev-deps">
            <h3>Number of transitive reverse dependencies</h3>
            <p>How often each library crate is used as a dependency in other crates, directly or indirectly. Includes dev, build-time, and optional dependencies.</p>
            @:histogram(&stats.hs_rev_deps, 10, url, url_for_rev_deps)</section>
        <section id="crates-per-user">
            <h3>Number of crates per user</h3>
            <p>How many crates a single account (user or team) owns. Excluding all other people in the world who have 0 crates.</p>
            @:histogram(&stats.hs_owner_crates, 8, url, Urler::crates_io_user_by_github_login)</section>
    </section>

    <section id="categories">
        <h2>Categories</h2>
        <p>Number of crates in each category. Area is proportional to the number of crates weighed by their ranking (reduces spam). Colors are only for decoration.</p>
        <svg viewBox="0 0 1000 600" width=1000 height=600 style="width:100%; margin: 1em auto 0">
            <style>
            rect.cat @{stroke: white;@}
            @@media (prefers-color-scheme: dark) @{
                rect.cat @{stroke: black;@}
            @}
            </style>
            @for b in &stats.categories {
                <rect class="cat" fill="@b.color" fill-opacity="0.7" x=@b.bounds.x y=@b.bounds.y width=@b.bounds.w height=@b.bounds.h>
                    <title>@b.label (@b.count)</title></rect>
                <a href="@url.category(&b.cat)">
                @for (i, w) in b.label.lines().enumerate() {<text
                    font-size="@b.font_size" fill="black" stroke="none" x="@(b.bounds.x + 3.)" y="@b.line_y(i)"
                    text-anchor=start><title>@b.label (@b.count)</title>@w</text>}
                </a>
                @if b.can_fit_count() {
                    <text font-size="@(b.font_size.min(10.5))" fill="black" opacity="0.5" stroke="none"
                    x="@(b.bounds.x + 3.)" y="@b.line_y(b.label.lines().count())"
                                    text-anchor=start>@b.count</text>
                }
            }
        </svg>
    </section>
    <section id="rustc">
        <h2>Rustc compatibility</h2>
        <p>Percentage of crates that can be compiled with a given Rust version. The data is approximate, based on sampling of <code>cargo check</code> on Linux/x86-64. Excludes crates that never built (e.g. because they need nightly, or Windows, or unusual C dependencies).</p>
        <svg width=1 height=1><defs>
        <linearGradient id="svggrad1" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#8c9f8c;" />
          <stop offset="100%" style="stop-color:#bb7171;" />
        </linearGradient>
      </defs></svg>
        <table class="rustc-compat">
            <thead><tr><th>Rustc</th><th><span style="color:#392">OK</span> / No data / <span style="color:#c55">Broken deps</span> / <span style="color:#933">Incompatible</span></th></tr></thead>
        @for (ver, c) in stats.rustc_stats.iter().copied().enumerate().skip(27).rev() {
            <tr><th>1.@ver</th><td>
                <svg viewbox="0 0 330 26" width=330 height=26>
                    <rect stroke=none fill="#392" x=0 width="@(c.maybe_ok + c.ok)" height=26 y=0><title>@((c.maybe_ok + c.ok) * 100 / c.sum())% compatible</title></rect>
                    <rect stroke=none fill="url(#svggrad1)" x="@(c.maybe_ok + c.ok)" width="@c.unknown" height=26 y=0><title>@(c.unknown * 100 / c.sum())% no data</title></rect>
                    <rect stroke=none fill="#c55" x="@(c.maybe_ok + c.ok + c.unknown)" width="@c.maybe_bad" height=26 y=0><title>@((c.bad + c.maybe_bad) * 100 / c.sum())% not compatible because of dependencies</title></rect>
                    <rect stroke=none fill="#933" x="@(c.maybe_ok + c.ok + c.unknown + c.maybe_bad)" width="@c.bad" height=26 y=0><title>@(c.bad * 100 / c.sum())% not compatible</title></rect>
                </svg>
            </td></tr>
        }
        </table>
    </section>
    </main>

    <footer>
        <div class="inner-col" role="contentinfo">
        <p><a href="/">All categories</a>. <a href="/about">About the site</a>. <a href="/atom.xml">Feed</a>. <a href="https://gitlab.com/crates.rs/crates.rs/issues/new">Feedback and feature requests</a> are welcome!</p> By <a href=https://kornel.ski>kornelski</a>.</div></footer>
})
